body {
	font-size: 14px;
	line-height: 18px;
	color: #000;
	font-weight: normal;
	font-family: "PTSans";
}

h1 {
	font-size: 31px;
	line-height: 42px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
}